{% extends "main.html" %}
{% load bbcode_tags %}
{% load staticfiles %}

{% block additional_css %}
<link type="text/css" href="{% static 'generic/about.css' %}" rel="stylesheet">
{% endblock %}

{% block add-panel %}
<li><a href="{% url 'about_edit' %}">Редактировать</a></li>
{% endblock %}

{% block h1 %}
О себе
{% endblock %}

{% block content %}

<div class="about">
    <div class="photo">
	    <img src="{% static "img/dmitri_melnik.png" %}">
	</div>
    <div class="text">
        <h2>{{ about_data.headline|bbcode|safe }}</h2>
        <p>{{ about_data.content|bbcode|safe }}</p>
    </div>

    <div class="clear"></div>
</div>

<div class="employments">
    <h2>Опыт работы</h2>
    {% for employment in employments %}
    <div class="employment">
        <div class="prescriptions">
            <p>{% with employment.date_start as date %}{% include 'generic/month_date.html' %}{% endwith %} -
                {% with employment.date_end as date %}{% include 'generic/month_date.html' %}{% endwith %},

            </p>
            <h3>{{ employment.organization }}</h3>
        </div>
        <div class="content">
            <h3>{{ employment.post }}</h3>
            <p>{{ employment.content }}</p>
        </div>
    </div>
    {% endfor %}
</div>

    <h2 class="experience_work">Опыт работы</h2>
  	<table class="experience">
  		<colgroup>
  			<col width="30%">
  			<col width="70%">
  		</colgroup>
  		    <tr>
  		  	    <td class="left" >2011, август — 2016, декабрь, 5 лет<br> ЗАО "ТПК"ЛИНКОС"<br> Москва</td>
  		  	    <td class="right">
                    Ведущий инженер-конструктор.
                    <span>
                        Разработка особо сложных приборов наблюдения.
                        Электронно-оптическая система «Фракция» высокого разрешения.
                        <a htef="http://eurasian-defence.ru/?q=node/2714"></a>
                        Интриган
                    </span>
                </td>
  		    </tr>
  		    <tr>
                <td class="left">2010, март	— 2011, март, 1 год<br> МЕКСАН<br> Москва</td>
                <td class="right">
                    Заместитель директора.
                    <span>
                        Реализация проекта МЕКСАН – RENAULT. Осуществление локаль-ной
                        интеграции. Подготовка поставщиков деталей на конвейеры RENAULT
                        в Москве и Тольятти. Подбор и обучение персонала, вы-полнение работ
                        по проекту ( распределение задач внутри команды, контроль выполнения
                        поставленных задач, поиск решения в слож-ных ситуациях, организация
                        внутренних правил для сотрудников
                    </span>
                </td>
  		    </tr>
  		    <tr>
                <td class="left">2009, апрель	— 2010, февраль, 10 мес<br> ЗАО "ИМПРОМ"<br> Минск</td>
                <td class="right">
                    Менеджер по продажам.
                    <span>
                        Продажа промышленного насосного оборудования, техническое гарантийное обслу-
                        живание. Заключение с поставщиками договоров: поставка, гарантийные обязательства.
                        Заключение договоров с транспортными компаниями: поиск, переговоры, договора.
                        Поиск клиентов: переговоры на всех уровнях, презентации, расчет, подбор насосного
                        оборудования.
                    </span>
                </td>
  		    </tr>
  		    <tr>
  		    	<td class="left">
                    2008, февраль	— 2009, март, 1 год <br>Представительство немецкой компании «ROMINEX»<br> Минск
                </td>
  		    	<td class="right">Менеджер по продажам. Поставка металлообрабатывающего оборудования
                    <span>
                        За время работы, найдены поставщики токарных станков, прессовгорячей штамповки,
                        термопластавтоматов и установлены дилерские отношения. Подготовлены проекты,
                        общая стоимость которых более 3 000 000 USD проекты до настоящего времени рассматриваются
                        потенциальными покупателями. Найден заказчик координатно-шлифовального станка. Подготовлено
                        предложение на сумму около 1 000 000 USD которое находится на стадии рассмотрения.
                    </span>
                </td>
  		    </tr>
  		    <tr>
  		    	<td class="left">2006, октябрь	— 2008, февраль, 1 год 4 мес<br> ЗАО «Системы тепло и хладоснабжения»<br> Минск</td>
                <td class="right">
                    Директор.
                    <span>
                        Подбор, поставка, гарантийное и послегарантийное обслуживание абсорбционных бромистолитиевых
                        холодильных машин, градирен промышленных насосов. Поставщики из Китая, Германии. Более подробную
                        информацию расскажу при встрече. Место расположения	Минск

                        Организация ЗАО с нуля, обучение в Китае на английском языке, поиск заказчика, заключение
                        договоров с заказчиком и производителем, выполнение заключенных договоров, шефмонтаж и
                        пуско-наладка. Первый год компания закончила с положительным балансом около 100 млн белорусских
                        рублей(50 000 $). Уставной фонд составлял 32 млн. белорусских рублей(16 000 $). Выиграны тендеры
                        на поставку оборудования и находятся в процессе подписания контракты на сумму более 1 200 000
                        долларов США
                    </span>
                </td>
  		    </tr>
  		    <tr>
  		    	<td class="left">2006, июнь	— 2006, октябрь, 4 мес<br> ООО «Европрофиль плюс»<br> Минск</td>
                <td class="right">
                    Ведущий инженер-конструктор.
                    <span>
                        Изготовление технологической оснастки для экструдирования профилей ПВХ (фильеры)
                        Проектирование технологической оснастки для изготовления пла-стмассовых профилей.
                        Сопровождение изготовления, решение технологический проблем изготовления, привлечение
                        сторонних фирм для изготовления особо сложных деталей или изделий и контроль качества
                        изготовления.

                        За 3 месяца разработаны и изготовлены 7 комплектов оснастки для изготовления
                        вспененного полистирола, из которых 3 приняты за-казчиком, остальные находятся в стадии
                        испытания и доработки. Поступили новые заказы от того же заказчика и предложения про-вести
                        научно-исследовательские и опытно-конструкторские работы. Сложность разработки оснастки
                        заключается в отсутствии аналогов и методики расчетов исполнительных размеров оснастки.
                    </span>
                </td>
  		    </tr>
  		    <tr>
  		    	<td class="left">2005, сентябрь	— 2006, июнь, 9 мес <br>ИП «АСКОН-БЕЛ» <br> Минск</td>
                <td class="right">
                    Зав. сектором внедрения комплексных проектов. Разработка и продажа программного обеспечения.
                <span>
                    Поиск заказчиков, проведение переговоров с VIP заказчиками, подготовка и проведение тендеров,
                    составление договоров на поставку и разработку сложного программного обеспечения (ПО)
                    (CAD- КОМПАС PLM-ЛОЦМАН – автоматизация и управление подготовки производства), внедрение ПО на
                    предприятии заказчика, проведение презентаций, консультации по применению ПО, проведение совещаний
                    на различном уровне от директора до начальников отделов, которых касается система автоматизации
                    производства.
                    На 12 день составил предложение о поставке ПО на сумму 30.000.000 белорусских рублей
                    (около 15.000$) с заводом «Термопласт», которую в последствии оплатил заказчик. За время работы
                    были разобраны завалы по данному направлению. Были прекращены затратные и бесперспективные работы,
                    доведены до конца затянувшиеся работы (более 2лет), найдены новые заказчики (емкость заказчика 200
                    рабочих мест), определены направления для продвижения ПО на рынке.
                    Сложность внедрения ПО заключалась в описании задачи (что собственно хочет заказчик?) настройке ПО,
                    определение приоритетов задач, постановке задач для написания новых модулей ПО и организации
                    внедрения (работа со всеми подразделениями заказчика).
                </span>
                </td>
  		    </tr>
  		    <tr>
  		    	<td class="left">2001, январь	— 2003, август, 2 года 7 мес<br> ИП ACOWIND <br> Минск</td>
  		    	<td class="right">
                    Ведущий инженер-конструктор. Изготовление ветроустановок.
                    <span>Проектирование ветроэнергоустановок работающих с использованием эффекта Магнуса.</span>
                    (разработка имела мировую новизну)
                    <span>
                        Решение вопросов связанных с применением Pro/ENGINEER. Системное администрирование 12 ПК
                        (Windows 2000 Server RAID5, Professional, Internet,), конфигурирование Pro/ENGINEER, ведение
                        архива проектов, создание и сопровождение стандартных деталей и форматов по ISO, сопровождение
                        соответствия КД требованиям ISO и ЕСКД.
                    </span>
                </td>
  		    </tr>
  		    <tr>
  		    	<td class="left">1997, июнь	— 2000, август, 3 года 2 мес <br>
  		    	ИП Сироб<br> Минск</td>
                <td class="right">Инженер-конструктор 1 кат., cистемный администратор.
                    <span>
                        Изготовление роботов.
                        Проектирование узлов роботов-манипуляторов. Организация документооборота (параллельное
                        проектирование, ведение архива, разработка форматов и требований предъявляемых к содержанию
                        файлов Pro/ENGINEER). Системное администрирование КБ (домен под Windows 4.0 Server, 40 ПК
                        Windows 4.0, Pro/ENGINEER, Pro/INTRALINK). Решение вопросов связанных с применением
                        Pro/ENGINEER.
                    </span>
                </td>
  		    </tr>
  		    <tr>
  		    	<td class="left">1993, февраль	— 1997, июнь, 4 года <br>ООО АТ Вектор <br> Минск</td>
  		    	<td class="right">
                    Инженер-конструктор 1 кат. Сервисный центр по новым технологиям
                    <span>
                        Проектирование технологической оснастки (пресс-форма литья ППУ для руля МАЗа, форма для литья
                        восковых моделей лопатки турбины), использование технологий быстрого моделирования для получения
                        сложных пластмассовых деталей и комплектов пластмассовых деталей на изделие (замок зажигания,
                        уничтожитель игл для одноразовых шприцев, обучение Pro/ENGINEER).
                    </span>
                </td>
  		    </tr>
  		    <tr>
  		    	<td class="left">1992, январь	— 1993, февраль, 1 год 1 мес <br>НПК Сигнал <br> Минск</td>
  		    	<td class="right">Инженер-конструктор 3 кат. <span>Проектирование пресс-форм штампов, приспособлений AutoCAD, сопровождение изготовления спроектированных изделий. Технический аудит, описание дефектов технологической оснастки, составление перечня мероприятий по ремонту, проектирование вышедших из стоя узлов, сопровождение ремонта.</span></td>
  		    </tr>
  		    <tr>
  		    	<td class="left">1989, сентябрь	— 1993, февраль, 3 года 5 мес <br>МПЗ им. В.И. Ленина <br> Минск</td>
  		    	<td class="right">
                    Инженер-конструктор 3 кат. Проектирование пресс-форм AutoCAD. Первые пресс-формы на предприятии с
                    использованием ACAD.
                    <span>
                        Инженер-технолог 3 кат.Инструментальный цех. Написание техпроцессов для изготовления пресс-форм,
                        штампов, приспособлений, мерительного инструмента, инструмента второго порядка, проектирование
                        инструмента второго и третьего порядка.
                        Инженер-технолог(цех штамповки) Осуществление приемки штампов пришедших в цех, составление
                        протокола об отклонениях от КД. Оформление отклонения от КД в случае, если это отклонение не
                        влияет на качество детали, сборки и работы изделия. За время работы было внедрено
                        рационализаторское предложение.Суть его заключалось в замене графитовой смазки используемой при
                        глубокой вытяжке на специальную смазку. В результате очистку деталей после вытяжки (перед
                        окраской) проводилась не керосином (взрывоопасные процесс) а синтетическими моющими средствами,
                        попросту - стиральным порошком.
                    </span>
                </td>
  		    </tr>
  	</table>

{% endblock %}